<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                    <h2 style="color:black">Bienvenido {{user.fullname}}</h2>
                    <h3 style="color:black">{{user.username}}</h3>
                    <a href="/videos/add" class="btn btn-primary m-4">
                        Guardar videos
                    </a>
            </div>
        </div>

    </div>
</div>