<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">

      <div class="card text-center">
               <div class="card animated flipInY">


        <div class="card-header">


  {{#each data}}
  <a href="/user_videos/{{id}}">
    <!--<h4 class="card-title">-->

    <h1 id="titulos" class="card-title" style="color:black">

       {{username}}
  </a>
{{/each}}
</div>